:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

[data-theme='dark'] {
  
  --primary-color: #E7A8C6;
  --primary-color-2: #f5cee1;
  --secondary-color: #22b390;
  --text-color-1: #ffffff;
  --text-color-2: #588068;
  --background-color-1: #f5f3f5;
  --background-color-2: #ececec;
  --pastel-green: #b7e4c7;
  --pastel-pink: #f4c2c2;
  --pastel-blue: #efc9d9;
  --pastel-purple: #d4b7f4;
  
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  height: max-content;
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  text-rendering: optimizeLegibility;

}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-image: linear-gradient(rgba(109, 91, 109, 0.45),
      rgba(109, 91, 109, 0.45)), url(./assets/hero5room2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 700px;

  color: var(--text-color-1)
}

.hero h3 {
  margin-bottom: 20px;
  font-weight: 400;
}


.about {}

.info {
  height: 300px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color-1);
}

.info h4 {
  font-weight: 400;
}

.about-body {
  display: flex;
  gap: 40px;
  flex-direction: row;
  padding: 100px 20%;
  background-color: var(--background-color-2);
  align-items: center;
  justify-content: space-around;
}


.about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  background-color: var(--background-color-1);
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  max-width: 500px;
}



.about-body img {
  max-width: 30%;

}





.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 100px 0px;
  background-color: var(--background-color-1);
}

.services p {
  max-width: 1100px;
}

.styles {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 40px;
  padding: 100px 100px;
  background-color: var(--background-color-2);
  height: min-content;
}

.styles-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  height: 100%;
}

#card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--background-color-1);
  padding: 20px 10px;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.87);
  transition: box-shadow 0.25s ease-in-out;
}


#card img {
  max-width: 90%;
  border-radius: 10px;
}

#card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;

  background-color: var(--background-color-1);
}

.booking-box {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 20px;
  background-color: var(--background-color-2);
  width: 800px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.87);
}

.booking-header {
  display: flex;
  flex-direction: column;
  gap: 16px;

  align-items: stretch;
  justify-content: space-between;

  width: 100%;
  flex: 1;
  text-align: left;
}



.booking-header select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.87);
  width: 100%;
  -webkit-appearance: none; /* Remove default styles in Safari */
  background-color: var(--background-color-1);
  color: #76788d;
  

}

.booking-header button {
  color: #fff;
  margin-top: 20px;
}

.booking-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.booking-form select {
  margin-top: -10px;
}

.calendar {
  background-color: var(--background-color-1);
  align-items: center;
  display: flex;
  gap: 0px;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.87);
}

.calendar h3 {

  font-weight: 500;
  font-size: 16pt;
}

.calendar-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
}


.calendar-day {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}


.calendar-day:hover {
  background-color: var(--pastel-blue);
  border-radius: 50%;

}


@media screen and (max-width: 1200px) {

  .services {
    padding: 50px 0px;
  }

  .services p {
    padding: 0px 10%;
  }

  .styles {
    padding: 50px 10%;
  }

}


@media screen and (max-width: 1000px) {

  .hero {
    min-height: 500px;
  }

  .about-body {
    padding: 70px 10%;
    flex-direction: column-reverse;

  }

  .about-body img {
    max-width: 300px;
  }

  .styles-cards {
    display: grid;
    grid-template-areas: 1fr 1fr / 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

}

@media screen and (max-width: 900px) {

  .booking-box {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: stretch;
  }



  .calendar-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }

}

@media screen and (max-width: 700px) {

  .about-body {
    padding: 50px 10%;
    flex-direction: column-reverse;
  }

  .styles-cards {
    display: grid;
    grid-template-areas: 1fr 1fr / 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  #card {
    padding: 8% 2%;

  }

  .info {
    height: 200px;

  }

  .about-body {
    padding: 50px 10%;

  }

  .calendar-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }

  .about-body img {
    max-width: 200px;
  }

  .booking-header h4{
    font-size: 2rem;
  }

  .booking-header p{
    font-size: 1rem;
    margin-top: -10px;
  }

  .booking-header select {
  margin-bottom: 20px;
  }


}


@media screen and (max-width: 600px) {

  .info {
    padding: 0px 10%;
  }

  .about-body {
    padding: 50px 10%;
    flex-direction: column-reverse;
  }

  .styles-cards {
    display: flex;
    gap: 6px;
    flex-direction: column;
  }

  #card {
    padding: 0px;
    border: none;
    border-radius: 0px;
    flex-direction: row;
    align-items: start;
  }

  #card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
    z-index: 1;
  }


  #card h4 {
    width: 50%;
    padding: 10px 10px;
    font-size: 16pt;
    text-align: left;
  }

  #card:nth-child(2n) h4 {
    width: 50%;
    padding: 10px 10px;
    font-size: 16pt;
    text-align: right;
  }

  #card.cat-eye {
    background-color: var(--pastel-blue);
  }



  #card.doll-eye {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--pastel-green);
  }

  #card.kitten-eye {
    background-color: var(--pastel-purple);
  }

  #card.natural-eye {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--pastel-pink);
  }


  #card img {
    max-width: 50%;
    border-radius: 0px;
    z-index: 0;
  }

  #card:nth-child(1n) img {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
  }

  #card:nth-child(2n) img {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
  }

  .styles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 50px 0px 6px 0px;
    background-color: var(--background-color-2);
  }

  .styles p {
    padding: 0px 10%;
  }







  #card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0);

  }

  .calendar-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
  }

}


@media screen and (max-width: 420px) {
  .hero {
    padding: 0px 10%;
  }

  .hero h1 {
    font-size: 1.5em;
  }

  .hero h3 {
    font-size: 1em;
  }

  .calendar-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
  }

  .calendar-day {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
  }

}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: #213547; /* Change this to any dark color you want */
  }

  .booking-header select {
    background-color: var(--background-color-1);
    color: #76788d;
    }
}