:root {
    --primary-color: #E7A8C6;
    --primary-color-2: #f5cee1;
    --secondary-color: #22b390;
    --text-color-1: #ffffff;
    --text-color-2: #588068;
    --text-color-3: #91636c;
    --text-color-4: #b19a9e;
    --background-color-1: #f5f3f5;
    --background-color-2: #fdedf0;
    --background-color-3: #fff;
    --pastel-green: #b7e4c7;
    --pastel-pink: #f4c2c2;
    --pastel-blue: #efc9d9;
    --pastel-purple: #d4b7f4;
    --footer-bottom: #884465;
    
}



h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: 0;
    
}


h1{
    font-size: 3em;
    line-height: 1.1;
}

h2{
    font-size: 2.5em;
    line-height: 1.1;
    
}

h3{
    font-size: 2em;
    line-height: 1.1;
    
}

h4{
    font-size: 1.5em;
    line-height: 1.1;
    
}



@media screen and (max-width: 700px){

    h1{
        font-size: 2em;
        line-height: 1.1;
    }
    
    h2{
        font-size: 1.5em;
        line-height: 1.1;
    }
    
    h3{
        font-size: 1.25em;
        line-height: 1.1;
    }
    
    h4{
        font-size: 1em;
        line-height: 1.1;
    }

    p{
        font-size: 0.75em;
    }
    
    
}